.Modal{
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
